<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GA Lesson 7.3 Autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4830CB7A1CAF7AFB006323DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4830CB8E1CAF7AFB006323DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4830CB991CAF7AFB006323DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
