<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GA Lesson 9.2 Autolayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>489782DC1CB8AE2E0003DB9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489782F01CB8AE2F0003DB9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489782FB1CB8AE2F0003DB9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
